{% extends 'layouts/base.html.twig' %}

{% block title 'Log In!' %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto" >
        <h1 class="text-center mt-5 mb-3">Please sign in</h1>
        <p class="text-center text-muted mb-3">Vos pins vous attendent! ;)</p>
        <form method="post">
            {% if error %}
                <div class="alert alert-error rounded mb-5" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="form-group mb-3">
                <label for="email">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
            #}
            <div class="d-flex justify-content-between">
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me">
                    <label class="form-check-label" for="remember_me">
                        Se souvenir de moi
                    </label>
                </div>
                <a href="#">Mot de passe oublié</a>
            </div>
            
            <div class="d-grid gap-2">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Se connecter
                </button>
            </div>

            <p class="mt-5 mb-3 text-center text-muted">Pas de compte Pimpterest ? <a href="{{ path('app_register') }}">Créer un compte</a></p>
        </form>
    </div>
</div>

{% endblock %}
