<nav class="navbar navbar-expand-sm light-dark bg-light mb-4" aria-label="Third navbar example">
    <div class="container">
      <a class="navbar-brand" href="{{ path('app_home')}}">Pimpterest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarsExample03">
        <ul class="navbar-nav ml-auto">
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_pins_create')}}">New pin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}?_csrf_token={{csrf_token('logout')}}" aria-disabled="true">Logout</a>
          </li>
          {# autre méthode avec le logout_path de twig
          <li class="nav-item">
            <a class="nav-link" href="{{ logout_path('main') }}" aria-disabled="true">Logout</a>
          </li> #}
          {# autre méthode 
          <li class="nav-item">
            <a class="nav-link" href="#" aria-disabled="true" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();">Logout</a>
          </li>
          <form action="{{ path('app_logout')}}" style="display:none;" method="POST" id="js-logout-form">
            <input type="hidden"value={{ csrf_token('logout') }} name="_csrf_token">
          </form> #}
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register')}}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login')}}" aria-disabled="true">Login</a>
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>